body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-family: "VT323", monospace;
}

body,
.snake {
	background-color: #414141;
}

#game-board {
	border-radius: 100px;
	display: grid;
    justify-items:center;
	grid-template-columns: repeat(20, 20px);
	grid-template-rows: repeat(20, 20px);
	margin: 5px;
}

.game-border-1 {
	border: #595f43 solid 10px;
	border-radius: 30px;
	box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
	border: #abb78a solid 8px;
	border-radius: 26px;
	box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
	border: #8b966c solid 30px;
	border-radius: 20px;
	box-shadow: inset 0 0 0 5px #8b966c;
}

#instruction-text {
	position: absolute;
	top: 65%;
	color: #333;
	width: 359px;
	text-align: center;
	text-transform: capitalize;
	padding: 20px;
	margin: 0;
    background-color: #c4cfa3;
}

.scores {
	display: flex;
	justify-content: space-between;
    align-items: baseline;
}

#score {
	color: #abb78a;
    padding-left: 30px;
}

#score,
#highScore {
	font-size: 40px;
	font-weight: bolder;
	margin: 10px 0;
}

#highScore {
    font-size: 25px;
	color: #d8ddca;
	display: none;
    padding-right: 20px;
}

.game-border-3,
#logo {
	background-color: #c4cfa3;
}

.human {
    text-align: center;
    color: red;
	border: #fff 1px solid;
    background-color: #333
}
.zombie {
    text-align: center;
    color: red;
	border: #fff 1px solid;
    background-color: #000
}
.sand {
    text-align: center;
    color: red;
	border: blue 1px solid;
    background-color: yellow;
}
.exit {
    text-align: center;
    color: green;
	border: #000 1px solid;
    background-color: #fff
}

#logo {
	position: absolute;
	width: 300px;
}

#gameInstructions{
    display: none;
    font-size: 50px;
}